name: Run Python Hourly (7 days)

on:
  schedule:
    # on the hour takes longer to process, 17 min is faster
    - cron: "17 * * * *"
  workflow_dispatch: #to test

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt || true

      - name: Run script
        run: |
          python ENGR371_CODE.py

      - name: Commit CSV results
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add *.csv
          git commit -m "Hourly data update" || echo "No changes"
          git push
